<div class="form-page-container">
  <h2>✏️ Editar Jogo</h2>
  
  <form class="game-form" (ngSubmit)="onSubmit()" #form="ngForm">
    
    <div class="form-group large-input">
      <label for="nome">Nome do Jogo:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="jogo.nome" required>
    </div>
    
    <div class="form-row three-cols">
      <div class="form-group">
        <label for="plataforma">Plataforma:</label>
        <select id="plataforma" name="plataforma" [(ngModel)]="jogo.plataforma" required>
          <option value="" disabled>Selecione...</option>
          <option value="PS5">PlayStation 5</option>
          <option value="XBOX">Xbox Series</option>
          <option value="PC">PC / Windows</option>
          <option value="NINTENDO">Nintendo Switch</option>
        </select>
      </div>

      <div class="form-group">
        <label for="genero">Gênero:</label>
        <select id="genero" name="genero" [(ngModel)]="jogo.genero" required>
           <option value="" disabled>Selecione...</option>
           <option value="Ação">Ação</option>
           <option value="Aventura">Aventura</option>
           <option value="RPG">RPG</option>
           <option value="FPS">FPS</option>
           <option value="Esporte">Esporte</option>
           <option value="Corrida">Corrida</option>
           <option value="Luta">Luta</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="data-lancamento">Data de Lançamento:</label>
        <input type="date" id="data-lancamento" name="dataLancamento" [(ngModel)]="jogo.dataLancamento" required>
      </div>
    </div>
    
    <div class="form-row three-cols">
      <div class="form-group">
        <label for="preco">Preço (R$):</label>
        <input type="number" id="preco" name="preco" [(ngModel)]="jogo.preco" step="0.01" required>
      </div>
      
      <div class="form-group">
        <label for="quantidade-estoque">Estoque:</label>
        <input type="number" id="quantidade-estoque" name="quantidadeEstoque" [(ngModel)]="jogo.quantidadeEstoque" required>
      </div>

      <div class="form-group">
        <label for="url-imagem">URL da Imagem:</label>
        <input type="url" id="url-imagem" name="urlImagemCapa" [(ngModel)]="jogo.urlImagemCapa" required>
      </div>
    </div>
    
    <div class="form-group large-input">
      <label for="descricao">Descrição:</label>
      <textarea id="descricao" rows="4" name="descricao" [(ngModel)]="jogo.descricao" required></textarea>
    </div>
    
    <div class="form-action">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Salvar Alterações
      </button>
    </div>
    
  </form>
</div>