<div class="list-container">
  <div class="header-flex">
    <h2>📂 Gerenciar Jogos</h2>
    <a routerLink="/admin/cadastrar-jogos" class="btn-new">
      <i class="fas fa-plus"></i> Novo Jogo
    </a>
  </div>

  <div class="table-wrapper">
    <table class="custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Capa</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jogo of jogos">
          <td>#{{ jogo.id }}</td>
          <td><img [src]="jogo.urlImagemCapa" width="40" height="40"></td>
          <td class="fw-bold">{{ jogo.nome }}</td>
          <td>{{ jogo.preco | currency:'BRL' }}</td>
          <td>{{ jogo.quantidadeEstoque }}</td>
          <td class="text-center">
            
            <a [routerLink]="['/admin/editar-jogo', jogo.id]" class="btn-action edit">
              ✏️
            </a>
            
            <button (click)="deletarJogo(jogo.id)" class="btn-action delete">
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="jogos.length === 0" style="padding: 20px; color: white;">Nenhum jogo encontrado.</p>
  </div>
</div>